# Dependencies
node_modules
.pnp
.pnp.js
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/__virtual__

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
dist
build
out

# Editors and OS
.DS_Store
.vscode
.idea
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Terraform
.terraform
*.tfstate
*.tfstate.backup

# Misc
coverage
.nyc_output

tasukari-4170ed37d5cd.json

# Secrets
terraform.tfvars
*.tfvars